.container {
    padding: 80px 15px 0;
}

.question {
    margin-bottom: 20px;
    border: 1.5px solid gray;
    border-radius: 6px;
    padding: 20px;
}

.main-question {
    margin: 80px;
    border: 2px solid gray;
    border-radius: 6px;
    padding: 20px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-info {
    color: white;
    margin-right: 15px;
}

.user-pic {
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
    object-fit: cover;

    margin-left: 10px;
    margin-right: 10px;

}

#search-form {
    margin-left: 50px;
    width: 20em;
}

#create-quesion-btn {
    margin-right: 30px;
}

.content-title {
    font-size: xx-large ;
    font-weight: 600;
    margin-bottom: 20px;
}

.hot-questions {
    font-size: medium !important; 
    margin-left: 5px;
}

.user-submenu {
    font-size: small;
    display: flex;
    justify-content: right;
}

.sign-up-btn-space {
    margin-left: 10px;
}


#logout-btn {
    margin-left: 10px;

}

.sidebar {
    margin-top: 70px;
}

.sidebar-header {
    text-align: center;
    font-size: x-large;
    font-weight: 600;
}

.best-members {
    margin-top: 100px;
}

.tags {
    text-align: center;
}

.form-label {
    text-align: float;
}

.align-items-center {
    margin-bottom: 15px;

}

.settings-value {
    margin-bottom: 35px;
}

.settings-avatar {
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;

}

.btn-save {
    width: 150px !important;
}

.btn-space {
    margin-right: 10px;
}

.question-page-avatar {
    
    border-radius: 50%;
    overflow: hidden;
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 15px;
    /* margin-left: 40px; */
}

#qpage-tags {
    font-weight: 600;
    font-size: medium;
}

/* .full-question {
    margin-left: ;
} */

#hr-qpage {
    margin-left: 40;
	height: 2px;
	background: rgb(0, 0, 0);
}

.answer {
    border: 1.5px solid gray;
    border-radius: 6px;
    padding: 20px 20px;
    margin-bottom: 20px;
}

.answer-avatar {
    border-radius: 50%;
    overflow: hidden;
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.answer-text {
    margin-left: 15px;
}

.svg-icon {
    fill: #7c7c7c;
}
.vote-count {
    color: #7c7c7c;
    font-size: x-large;
    font-weight: normal;
    vertical-align: baseline;
}

.vote-box {
    width: fit-content !important;
    border: 1px solid gray;
    border-radius: 6px;
    margin: 15px auto 5px;
    display: block;

}

.svg-icon {
    vertical-align: baseline !important;
    margin-left: 5px;
    margin-right: 5px;
}

.full-question {
    margin-top: 30px;
}

.answer-left-bar {
    border-right: 1px solid gray;
}

/*.question-creator {*/
/*    text-align: center;*/
/*}*/

.answer-check-correct {
    margin-top:40px;
    margin-left: 15px;
    font-size: large;
    /*color: #198754;*/
}

.login-error {
    color: red;
    margin-top: 5px;
    margin-bottom: 10px;
}