{% extends 'inc/base.html' %}

{% load static %}

{% block content %}

<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Title</label>
    <input class="form-control" rows="3">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Text</label>
    <textarea class="form-control" rows="3"></textarea>
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Tags</label>
    <input class="form-control" rows="3">
</div>

<button type="button" class="btn btn-primary">Create</button>

{% endblock %}
