{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-4"></div>

            <div class="col-6">
                <div class="my-center">
                    <form action="/login/" method="post">
                        {% bootstrap_form form %}
                        <div class="mt-10">
                            <button type="submit" class="btn btn-space btn-primary">Login</button>
                            <a href="{% url 'signup' %}"><button type="button" class="btn btn-outline-primary">Sign up</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
