{% extends 'inc/base.html' %}

{% load static %}

{% block content %}

<div cl></div>

<div class="row">
    <div class="col-1 settings-value">
        <span>Login</span>
    </div>
    <div class="col-3">
        <input class="form-control" rows="3">
    </div>
</div>

<div class="row">
    <div class="col-1 settings-value">
        <span>Email</span>
    </div>
    <div class="col-3">
        <input class="form-control" rows="3">
    </div>
</div>

<div class="row">
    <div class="col-1 settings-value">
        <span>Name</span>
    </div>
    <div class="col-3">
        <input class="form-control" rows="3">
    </div>
</div>

<div class="row">
    <div class="col-1 settings-value">
        <span>Avatar</span>
    </div>
    <div class="col-3">
        <img class="settings-avatar" src="{% static 'img/avatar-1.jpg' %}" alt="">
    </div>
</div>

<div class="row mt-3">
    <div class="col-1"></div>
    <div class="col-3">
        <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div>
</div>

<div class="row mt-5">
    <div class="col-1"></div>
    <div class="col-3">
        <button type="button" class="btn btn-primary btn-save">Save</button>
    </div>
</div>

{% endblock %}