<!doctype html>

{% load static %}

<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASK ME</title>
    <

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Ask me</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <form class="d-flex" role="search" id="search-form">
                    <input class="form-control me-2" type="search" placeholder="What is your quesion?" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>

            <a id="create-quesion-btn" class="btn btn-primary" href="{% url 'ask' %}" role="button">Create a new question</a>

            {% comment %} <img class="user-pic" src="{% static "img/avatar-1.jpg" %}" alt=""> {% endcomment %}
            <div class="user-info">
                <span>Hello, friend! </span>
                <div class="user-submenu">
                    <span><a id="login-btn" href="{% url 'login' %}">log in</a></span>
                    <span class="sign-up-btn-space"><a id="signup-btn" href="{% url 'signup' %}">sign up</a></span>
                </div>
                <div class=""></div>

            </div>
        </div>
        <div class="">

        </div>
    </nav>

</header>

<!-- Begin page content -->
<main class="flex-shrink-0">

    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="my-center">
                    <form>
                        <div class="mb-3">
                            <label for="regDisplayName" class="form-label">Display name</label>
                            <input type="text" class="form-control" id="regDisplayName">

                        </div>

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                            <div class="login-error">This name already exists!</div>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-space btn-primary">Sign up</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

</main>

</body>
</html>
