{% extends 'inc/base.html' %}

{% load static %}
{% load bootstrap5 %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-4"></div>

            <div class="col-6">
                <div class="my-center">
                    <form action="/signup/" method="post">
                        {% bootstrap_form form %}
                        <div class="mt-10">
                            <button type="submit" class="btn btn-space btn-primary">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}