{% load static %}

<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{% static "css/style.css" %}" rel="stylesheet">

<div class="answer">
    <div class="row">
        <div class="col-2 answer-left-bar">
            <img class="answer-avatar" src="{{ answer.profile.avatar.url }}" alt="">
            <div class="nick" style="text-align: center; margin-top: 5px;">{{ answer.profile.user.username }}</div>
            <div class="vote-box">
                <span class="svg-icon-sp"><svg class="svg-icon arrowDown" width="16" height="16" viewBox="0 0 115.4 122.88"><path d="M24.94,55A14.66,14.66,0,0,0,4.38,75.91l43.45,42.76a14.66,14.66,0,0,0,20.56,0L111,76.73A14.66,14.66,0,0,0,90.46,55.82l-18,17.69-.29-59.17c-.1-19.28-29.42-19-29.33.24l.29,58.34L24.94,55Z"/></svg></span>
                <span class="vote-count" data-value="0">0</span>
                <span class="svg-icon-sp"><svg class="svg-icon arrowUp" width="16" height="16" viewBox="0 0 115.4 122.88"><path d="M24.94,67.88A14.66,14.66,0,0,1,4.38,47L47.83,4.21a14.66,14.66,0,0,1,20.56,0L111,46.15A14.66,14.66,0,0,1,90.46,67.06l-18-17.69-.29,59.17c-.1,19.28-29.42,19-29.33-.25L43.14,50,24.94,67.88Z"/></svg></span>
            </div>
        </div>
        <div class="col-9" style="border-left: 1px solid gray">
            <div class="answer-text">
                {{ answer.text }}
            </div>

            <div class="form-check answer-check-correct">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Correct answer!
                </label>
            </div>
        </div>
    </div>
</div>