{% load static %}

<div class="question">
    <div class="row">
        <div class="col-2">
            <div class="avatar">
                <img src="{{ question.profile.avatar.url }}" alt="" />
            </div>
        </div>
        <div class="col-10">
            <h2 class="question-title"><a href="{% url 'question' question_id=question.id %}">{{ question.title }}</a></h2>
            <div class="question-text">
                <p>{{ question.text }}</p>

                <span>
                    <span id="qpage-tags">Tags:</span>
                    {% for tag in question.tags.all %}
                        <a href="{% url 'tag' tag.name %}">{{ tag }}</a>
                    {% endfor %}
                </span>

            </div>
        </div>
    </div>
</div>